<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOONHEECHEOL</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="./index.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id="container">

      <header>
        <a href="#">감염병</a>
        <a href="#">건강정보</a>
        <a href="#">정책정보</a>
        <a href="#">연구개발</a>
        <a href="#" class="active">알림·자료</a>
        <a href="#">간행물·통계</a>
        <a href="#">민원·정보공개</a>
        <a href="#">기관소개</a>
        <a href="#">사업별 누리집</a>        
      </header>
      
      <nav>
        <h2>알림·자료</h2>
        <a href="#">이달의건강소식<i class="material-icons">expand_more</i></a>
        <a href="#">보도자료<i class="material-icons">expand_more</i></a>
        <a href="#">포토뉴스<i class="material-icons">expand_more</i></a>
        <a href="#">홍보자료<i class="material-icons">expand_more</i></a>
        <a href="#">공지사항<i class="material-icons">expand_more</i></a>
        <a href="#" class="active">공고/공시<i class="material-icons">expand_less</i></a>
        <a href="#">채용공고<i class="material-icons">expand_more</i></a>
        <a href="#">법령·지침·서식<i class="material-icons">expand_more</i></a>
      </nav>

      <main>
        <span><i class="material-icons">home</i>> 알림·자료 > <strong>공고/공시</strong></span>
        <h3>공고·공시 [윤희철]</h3>
        <div class="option">
          <a href="" class="btn--option"><i class="material-icons">share</i></a>
          <a href="" class="btn--option ml8"><i class="material-icons">print</i></a>
        </div>
        
        <section class="col mb8">
          <div class="aboard__index">
            <span>전체 3,320건, 현재 페이지 <strong>2</strong>/322</span>
          </div>  
          <span>
            <select name="select" id="select" class="btn--select">
              <option value="1">제목</option>
              <option value="2ㄴ">작성자</option>
            </select>
            <input type="text" size="28" class="input--text ml8" placeholder="검색어를 입력해주세요">
            <button class="btn--search ml8"><i class="material-icons">search</i></button>
          </span>
        </section>

        <section>
          <table class="aboard">
            <colgroup>
              <col width="8%">
              <col width="*">
              <col width="14%">
              <col width="14%">
              <col width="10%">
            </colgroup>
            <thead>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일자</th>
              <th>조회수</th>
            </thead>
            <tbody>
              <tr>
                <td>3310</td>
                <td>[윤희철] 건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
              <tr>
                <td>3310</td>
                <td>[윤희철]건강정보 개발 및 국가건강정보포털운영 2022년 민간위...</td>
                <td>만성질환예방과</td>
                <td>2021-12-28</td>
                <td>137</td>
              </tr>
            </tbody>
          </table>
        </section>

        <section class="col--center aboard__menu mt20">
          <a href="" class="controler mr8"><i class="material-icons">keyboard_double_arrow_left</i></a>
          <a href="" class="controler mr24"><i class="material-icons">keyboard_arrow_left</i></a>
          <a href="" class="active">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="" class="controler ml24"><i class="material-icons">keyboard_arrow_right</i></a>
          <a href="" class="controler ml8"><i class="material-icons">keyboard_double_arrow_right</i></a>
        </section>
      </main>

  </div>

</body>
</html>