#container {
  width: 1260px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  display: flex;
  position: relative;
  border-bottom: 1px solid #999;
  padding: 24px 0;
  margin-bottom: 40px;
}
header > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #222;
  text-align: center;
  font-size: 20px;
}
header > a.active {
  color: royalblue;
  font-weight: 700;
  position: relative;
}
header > a.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -24px;
  width: 100%;
  height: 4px;
  background-color: royalblue;
}
main > span {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
  color: #666;
}
main > span > strong {
  font-weight: 700;
  color: royalblue;
}
main > span > i {
  display: inline-block;
  font-size: 10px;
  vertical-align: text-bottom;
}


h2 {
  padding: 36px 24px;
  font-size: 24px;
  border-bottom: 1px solid #222;
}
h3 {
  padding: 36px 0;
  font-size: 24px;
  border-bottom: 1px solid #222;
  margin-bottom: 40px;
  font-weight: 700;
}

nav {
  display: flex;
  float: left;
  flex-direction: column;
  width: 20%;
  overflow: hidden;
}
nav > a {
  display: block;
  position: relative;
  width: calc(100% - 48px);
  padding: 16px 24px;
  border-bottom: 1px solid #999;
  text-decoration: none;
  color: #222;
}
nav > a > i {
  position: absolute;
  right: 4px;
  top: 12px;
  color: #b3b3b3;
}
nav > a.active {
  background-color: royalblue;
  color: #fff;
  border-bottom: 1px solid royalblue;
}
nav > a.active > i {
  color: #fff;
}

main {
  float: right;
  width: 76%;
  position: relative;
}
.option {
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboard__index > span {
  line-height: 40px;
}
.aboard__index > span > strong {
  color: red;
}
.btn--select {
  width: 120px;
  height: 38px;
  padding: 0 12px;
  background-color: #f1f1f1;
}
.btn--search {
  display: block;
  float: right;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #b3b3b3;
  background-color: #fff;
}
.btn--search > i {
  line-height: 34px;
  pointer-events: none;
}
.btn--option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666;
  width: 48px;
  height: 48px;
  border: 1px solid #b3b3b3;
  border-radius: 25px;
}
.input--text {
  height: 32px;
  padding: 0 12pxs;
  border: 1px solid #b3b3b3;
}

.aboard {
  width: 100%;
  border-top: 2px solid #222;
}
.aboard th, .aboard td {
  text-align: center;
  padding: 20px 12px;
}
.aboard > tbody  td:nth-child(2) {
  text-align: left !important;
}
.aboard tr {
  border-bottom: 1px solid #b3b3b3;
}

.aboard__menu > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.controler {
  border: 1px solid #b3b3b3 !important;
}
.aboard__menu > a.active {
  background-color: royalblue;
  border: 1px solid royalblue;
  color: #fff;
}

.ml8 {
  margin-left: 8px;
}
.mr8 {
  margin-right: 8px;
}
.ml24 {
  margin-left: 24px;
}
.mr24 {
  margin-right: 24px;
}
.mb8 {
  margin-bottom: 8px;
}
.mt20 {
  margin-top: 20px;
}